.itemcard-container {}

.itemcard-nodata {
    font-size: 2.75rem;
    color: var(--primary);
    font-family: 'Bebas Neue', sans-serif;
    opacity: 90%;
    border-radius: 8px;
    text-decoration: underline;
    text-decoration-color: var(--underline);
    text-decoration-thickness: 0.25rem;
    text-decoration-skip-ink: none;
}

.itemcard-total {
    font-size: 2.75rem;
    color: var(--primary);
    font-family: 'Bebas Neue', sans-serif;
    opacity: 90%;
    border-radius: 25px;
    border: 5px solid var(--underline);
    padding: 0 15px;
}

.itemcard-fooditems {
    font-size: 1.50rem;
    color: var(--primary);
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px 30px;
}

.itemcard-fooditems-name{
    letter-spacing: 2px;
    font-size: 1.90rem;
    color: var(--primary);
    font-family: 'Bebas Neue', sans-serif;
}